header{
  height: 80px;
  background-color: #2C3D50;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul li{
  list-style: none;
}

.container-piccolo{
  margin: 0 auto;
  max-width: 65%;
}

.bt-custom a i{
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  color: gray;
}

.bt-custom a i:active{
  background-color: white;
}

/****JUMBOTRON****/

.jumbotron{
  background-color: #1ABC9C;
  color: white;
}

.avatar{
  height: 255px;
  width: 230px;
}

.left ,
.right
{
  height: 3px; 
  width: 10%;
  align-self: center;
  border-radius: 3px;
}

.center{
  font-size: 20px;
}

/****ABOUT****/

.about-us{
  background-color: #1ABC9C;
  color: white;
}

.custom-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
/*******CONTACT***/
.input-custom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.button-custom {
  background-color: #1ABC9C;
  border: none;
}

.input-custom::placeholder {
  color: black;
}

/****FOOTER*/
.debug-col{
  border: 1px solid black;
}
.color-custom{
  color: #1ABC9C;
}

.footer{
  background-color: #39546D;
  color: white;
}

.footer-bottom{
  background-color:#2C3D50 ;
  height: 80px;
  color: white;
}



/*****RESPONSIVE****/

