header{
  height: 80px;
  background-color: #2C3D50;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul li{
  list-style: none;
}

.bt-custom a i{
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  color: gray;
}

.bt-custom a i:active{
  background-color: white;
}

.jumbotron{
  background-color: #1ABC9C;
}

.about-us{
  background-color: #1ABC9C;
}

.debug-col{
  border: 1px solid black;
}

.footer{
  background-color: #39546D;
}

.footer-bottom{
  background-color:#2C3D50 ;
  height: 80px;
}

.container-piccolo{
  margin: 0 auto;
  max-width: 65%;
}



/*****RESPONSIVE****/

